.Rproj.user
.Rhistory
.RData
.DS_Store
inst/rmarkdown/templates/thesis/skeleton/_book/*
inst/rmarkdown/templates/thesis/skeleton/_bookdown_files/*
docs
inst/extdata/assignment1/assignment1.tex
inst/extdata/assignment1/assignment1.log
inst/extdata/assignment1/assignment1_files
inst/extdata/presentation1/presentation1.tex
inst/extdata/presentation1/presentation1.log
inst/extdata/presentation1/presentation1.toc
inst/extdata/presentation1/presentation1_files
inst/extdata/thesis/thesis.tex
inst/extdata/thesis/thesis.log
inst/extdata/thesis/thesis.toc
inst/extdata/thesis/thesis_files
